@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  text-align: center;
  background-color: #dddddd;
  display: flex;
  flex-direction: column;
  align-items: center;
}

label, input, button, h3 {
  margin: 10px;
  font-family: 'Montserrat', sans-serif;
}

label {
  text-align: right;
}

input{
  border-radius: 10px;
  border: solid 2px grey;
}

button{
  font-family: 'Montserrat', sans-serif;
  transition: 0.5s;
  background-color: rgb(70, 90, 255);
  color: white;
  border: 1px solid transparent;
  border-radius: 10px;
  width: 150px;
  height: 30px;
}

footer{
  color: #444444;
  font-size: 13px;
  margin: 100px;
  font-family: 'Montserrat', sans-serif;
}

.Container{
  display: flex;
  justify-content: center;
  border: solid #aaaaaa 1px;
  border-radius: 10px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-color: #eeeeee;
  font-family: 'Montserrat', sans-serif;
}

button:hover{
  cursor: pointer;
  background-color: blue;
}